JavaWS/AlunoWS/src/META-INF/wsdl/localhost_8000/aluns.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://localhost:8000/aluns" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://localhost:8000/aluns">

<xs:element name="alterar" type="tns:alterar"></xs:element>

<xs:element name="alterarResponse" type="tns:alterarResponse"></xs:element>

<xs:element name="inserir" type="tns:inserir"></xs:element>

<xs:element name="inserirResponse" type="tns:inserirResponse"></xs:element>

<xs:element name="listar" type="tns:listar"></xs:element>

<xs:element name="listarResponse" type="tns:listarResponse"></xs:element>

<xs:element name="remover" type="tns:remover"></xs:element>

<xs:element name="removerResponse" type="tns:removerResponse"></xs:element>

<xs:complexType name="inserir">
<xs:sequence>
<xs:element name="aluno" type="tns:aluno" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aluno">
<xs:sequence>
<xs:element name="faltas" type="xs:int"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="media" type="xs:double"></xs:element>
<xs:element name="nome" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="listar">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="listarResponse">
<xs:sequence>
<xs:element name="return" type="tns:aluno" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remover">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removerResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="alterar">
<xs:sequence>
<xs:element name="aluno" type="tns:aluno" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alterarResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>